
    <table id="memberList" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Seeking For</th>
                <th>Age Between</th>
                <th>Zip Code</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.dob | date:'Y-d-m'}}</td>
                    <td>{{user.gender}}</td>
                    <td>{{user.seeking_for}}</td>
                    <td>{{user.age_between}}</td>
                    <td>{{user.zip_code}}</td>
                    <td>Active</td>
                    <td> <a href="">block</a> &nbsp; | &nbsp; <a href="">Delete</a> </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>        
        $(document).ready(function(){
            $('#memberList').DataTable({
                "pagingType" : "first_last_numbers"
            });
        });
    </script>
