{% extends 'dating_admin/base.html' %}
    
{% block content %}
<script>
$(document).ready(function(){
   
    $('#question_and_answers').click(function() {
        $.ajax({
            url:  '../questions_answers',
            type:  'get',
            dataType:  'html',
            success:  function (data) {
                document.getElementById('app_members').className = ''
                document.getElementById('question_and_answers').className = 'active'
                $('#content').html(data)
            }
        });
    });

    $('#app_members').click(function() {                
        $.ajax({
            url:  '../app_members',
            type:  'get',
            dataType:  'html',
            success:  function (data) {
                document.getElementById('app_members').className = 'active'
                document.getElementById('question_and_answers').className = ''
                $('#content').html(data)
            }
        });
    });
})

</script>
<div>    
    <div class="messages-tabs">
        <a href="#" id="app_members" class="active">App Members</a>
        <a href="#" id="question_and_answers">Questions and Answers</a>
    </div>
</div>

<div id="content" style="padding-top: 15px">
    {% include 'dating_admin/app_members.html' %}
</div>

{% endblock content %}