
<p class="category_title">Questions Category</p>
<div class="left">
    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Category 1</td>
                <td>Active</td>
                <td> <a href="">Update</a> &nbsp; | &nbsp; <a href="">Delete</a>  &nbsp; | &nbsp; <a href="">Add Questions</a> </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="right">
    <form action="">
        <div class="form-group">
            <textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Add Category"></textarea>
        </div>
        <input type="submit" value="ADD" class="btn btn-light">
    </form>
</div>

<p class="category_title">Questions</p>
<div class="left">
    <table>
        <thead>
            <tr>
                <th>Questions</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Questions 1</td>
                <td>Active</td>
                <td> <a href="">Update</a> &nbsp; | &nbsp; <a href="">Delete</a> &nbsp; | &nbsp; <a href="">Add Choices</a> </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="right">
    <form action="">
        <div class="form-group">
            <textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Add Category"></textarea>
        </div>
        <input type="submit" value="ADD" class="btn btn-light">
    </form>
</div>

<p class="category_title">Choices</p>
<div class="left">
    <table>
        <thead>
            <tr>
                <th>Choices</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Choices 1</td>
                <td>Active</td>
                <td> <a href="">Update</a> &nbsp; | &nbsp; <a href="">Delete</a> </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="right">
    <form action="">
        <div class="form-group">
            <textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Add Category"></textarea>
        </div>
        <input type="submit" value="ADD" class="btn btn-light">
    </form>
</div>