 {% extends 'login/base_2.html' %} {% load staticfiles%} {% block head %}
<style type="text/css">
    .show_matching {
        height: 200px;
        width: 200px;
        padding: 0px;
        border: 2px solid black;
        display: inline-block;
        margin: 13px;
    }
    
    .little_bar {
        width: 100%;
        height: 40px;
        margin-top: 0px;
        background-color: rgba(255, 0, 0, 0.2)
    }
    
    .little_bar img {
        width: 35px;
        height: 35px;
        margin: 2px 7px 0px 7px;
    }
    
    .show_info {
        margin: 133px 0px 0px 0px;
    }
</style>
{%endblock%} {% block content %}
<!-- NEED FOR LOOP HERE! -->


<div class='show_matching col-sm-11 col-md-6 col-lg-3 ' style=" background: url('/static/login/images/bg_image.jpg');background-position: center;background-size: cover; ">
    <!-- <img sre="{% static 'login/images/background-image.jpg' %}"> -->
    <p class="show_info">{{x.full_name}}({{x.age}})</p>
    <div class="little_bar">
        <a href=""><img src="{% static 'login/images/cross_icon.png' %}" /></a>
        <a href=""><img src="{% static 'login/images/heart.png' %}" /></a>
        <a href=""><img src="{% static 'login/images/chat_icon.png' %}" /></a>
    </div>
</div>

<div>
    <button class='d-inline'>skip all</button>
</div>


{% endblock content %}