{% extends 'login/base.html' %}

{% block content %}
    <script>
        $(document).ready(function(){
           
            $('#signup_tab').click(function() {
                $.ajax({
                    url: '{% url "get_signup_form" %}',
                    type: 'get',
                    dataType: 'html',
                    success:  function (data) {
                        document.getElementById('signup_tab').className = 'active'
                        document.getElementById('login_tab').className = ''
                        $('#form_display').html(data)
                    }
                });
            });
        
            $('#login_tab').click(function() {
                $.ajax({
                    url: '{% url "get_login_form" %}',
                    type: 'get',
                    dataType: 'html',
                    success:  function (data) {
                        document.getElementById('signup_tab').className = ''
                        document.getElementById('login_tab').className = 'active'
                        $('#form_display').html(data)
                    }
                });
            });
            
        })        
    </script>

    <div class="row">
        <div class="col-md-7 mb-4">

            <div id="login_reg_form" class="reduced_opacity_background">

                <div class="my-tabs">
                    <a id="signup_tab" href="#" class="active" > SIGN UP </a>
                    <a id="login_tab" href="#"> LOGIN </a>
                </div>
                
                <div id="form_display">
                    {% include 'login/signup_form.html' %}
                </div>            
            </div>
        </div>
        
        <div class="col-md-5 mb-4">
            <div class="container">
                
                <h1 class="content_title">Don't Stay Alone, Find your perfect match with us!</h1>                
                <div class="tired_of">
                    <span>01</span> <p style="color:white"> &nbsp; JOIN AND FIND YOUR LOVE </p>
                </div>
                <div class="tired_of">
                   <span>02</span> <p style="color:white"> &nbsp; ADD INFORMATION ABOUT YOURSELF </p>
                </div>
                <div class="tired_of">
                    <span>03</span> <p style="color:white"> &nbsp; ANALYZE THE LIST OF PEOPLE </p>
                </div>
                <div class="tired_of">
                    <span>04</span> <p style="color:white"> &nbsp; GET IN TOUCH AND BE HAPPY </p>
                </div>
                <p style="font-size: 25px; color:white; text-align: center; padding-top: 50px;">
                    TIRED OF BEING ALONE?<br>
                    Join us,<br>
                    <i> We have more than 100,000 members!!!</i> 
                </p>
            </div>
        </div>

    </div>
{% endblock content %}