{% extends 'login/base.html' %}

{% block content %}
    
        <div class="form_content">

            <div id="login_reg_form" class="reduced_opacity_background">

                <div class="my-tabs">
                    <a id="signup" class="active" onclick="view_signup_form()"> SIGN UP </a>
                    <a id="login" onclick="view_login_form()"> LOGIN </a>
                </div>
                
                <form id="signup_form" class="registration_form" action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-title">
                        <P>JOIN, It's free</P>
                    </div>
                    <div class="form-group row">
                        <label for="first_name" class="col-sm-4 col-form-label">First Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="first_name" placeholder="" value="{{first_name}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-4 col-form-label">Email</label>                                
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="email" placeholder="" value="{{email}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="dob" class="col-sm-4 col-form-label">Date of Birteh</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="dob" placeholder="" value="{{dob}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm-4 col-form-label">Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="confirmpw" class="col-sm-4 col-form-label">Confirm Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" name="confirmpw" placeholder="Confirm Password">
                        </div>
                    </div>

                    <div class="right">
                        <div class="form-group row">
                            <label for="" class="col-sm-5 col-form-label">I'm</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">Man</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2">Women</label>
                            </div>
                        </div>
                    </div>
                    <div class="left">
                        <div class="form-group row">
                            <label for="" class="col-sm-6 col-form-label">Age Between</label>
                            <div class="col-sm-6">
                                <select name="" id="" class="form-control" >
                                    <option value="">-</option>
                                    <option value="">30-45</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="right">
                        <div class="form-group row">
                            <label for="" class="col-sm-5 col-form-label">Seeking for</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">Man</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2">Women</label>
                            </div>
                        </div>
                    </div>
                            
                    <div class="left">
                        <div class="form-group row">
                            <label for="zipcode" class="col-sm-4 col-form-label">Zip Code</label>
                            <div class="col-sm-8">
                                    <input type="password" class="form-control" name="zipcode" placeholder="">
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="SIGN UP">                                              
                </form>
                
                <form id="login_form" action="{% url 'login' %}" style="display:none">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="email" class="col-sm-4 col-form-label">Email</label>                                
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="email" placeholder="" value="{{email}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm-4 col-form-label">Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                    </div>                    
                    <input type="submit" class="btn btn-primary" value="LOG IN">                    
                </form>
            
            </div>
        </div>

        <div class="written_content">
            <div class="container">
                <p>TIRED OF BEING ALONE?</p>
                <h1 class="content_title">Don't Stay Alon, Find your perfect match with us!</h1>                
                <div class="tired_of">
                    <span>01</span> <p> JOIN AND FIND YOUR LOVE </p>
                </div>
                <div class="tired_of">
                   <span>02</span> <p> ADD INFORMATION ABOUT YOURSELF </p>
                </div>
                <div class="tired_of">
                    <span>03</span> <p> ANALYZE THE LIST OF PEOPLE </p>
                </div>
                <div class="tired_of">
                    <span>04</span> <p> GET IN TOUCH AND BE HAPPY </p>
                </div>
                <p>We have more than **** members!!!</p>
            </div>
        </div>

    
    
    
{% endblock content %}