{% extends 'login/base.html' %}

{% block content %}
{% load staticfiles %}
<h2 class="content_title">Let us know who you are, what intrest you and what you are looking for?</h2>
<div id="login_reg_form" class="reduced_opacity_background questions_list" style="padding: 20px; color:white">
    <form action="{% url 'questionnaire_answer' %}" method="POST"> 
        {% csrf_token %}       
        {% for dict_item in questionnaire %}
            {% for key, value in dict_item.items %}
                <div class="form-group" style="padding: 10px;">
                    <label><img src="{% static 'login/images/heart.gif' %}" alt="" style="width: 20px; height: auto;"> {{key}}</label>
                    <div style="padding-left: 30px;">
                        {% for choice in value %}
                            <input type="radio" class="form-contorl" name="{{forloop.counter}}" value="{{choice}}"> {{choice}}                     
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
        <input type="submit" class="btn btn-light" value="Here is who I am">
    </form>
</div>
{% endblock content %}