{% extends 'dating/base.html' %}

{% block base_content %}
{% load static %}
            <div class="row">
                <div class="col-md-3">                    
                    <div class='border mt-sm-3 text-center'>
                        {% if user.pictures.all %}
                            {% for pic in user.pictures.all %}                            
                                {% if pic.is_profile_pic == 'TRUE' %}
                                    {{pic.pictures.url}}
                                    <img class="pic_search member_photo" src="..{{pic.pictures.url}}" alt="profile_pic">
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <img class="pic_search member_photo" src="{% static 'login/images/default-male.gif' %}" alt=""/>
                        {% endif %}  

                        <p>Welcome, <b>{{user.name}}</b></p>
                        <p>DOB - {{user.age}}</p>
                        <p>Location - {{user.zip_code}}</p>
                        <p>Your are seeking for - {{user.seeking_for}}</p>
                    </div>
                </div>
                <div class='col-md-9'>
                    {% block base_1_content %}
                
                    {% endblock base_1_content %}
                </div>
            </div>        
{% endblock base_content %}