{% extends 'dating/base.html' %}

{% block base_content %}
{% load static %}
            <div class="row">
                <div class="col-md-3">
                    <!-- persons who may interest in login user -->
                    <div class='border mt-sm-3 text-center'>
                        <a href=""><img class="pic_search col-sm-9" src="{% static 'login/images/bg_image.jpg' %}" /></a>
                        
                        <p>Welcome, <b>{{user.name}}</b></p>
                        <p>DOB - {{user.age}}</p>
                        <p>Location - {{user.zip_code}}</p>
                        <p>Your are seeking for - {{user.seeking_for}}</p>
                    </div>
                </div>
                    
                    <!-- NEED FOR LOOP HERE! -->
                <div class='col-md-9'>
                    {% block base_1_content %}
                
                    {% endblock base_1_content %}
                </div>
            </div>        
{% endblock base_content %}