{% extends 'dating/base_1.html' %} 
 
{% block base_1_content %}
{% load static %}
    <div class="row">
        
        {% for member in user_list %}
            <div style="margin-right: 5px; margin-bottom: 5px;">
                <img src="{% static 'login/images/picture.jpg' %}" alt=""/>                
                <div class="little_bar" style="text-align: center; width: 100%;">
                    <a href="{% url 'block_person' user.id %}"><img src="{% static 'login/images/cross_icon.png' %}" /></a>
                    {% if user in member.user_like.all %}
                        
                    {% else %}
                        <a href="{% url 'like_person' user.id %}"><img src="{% static 'login/images/heart.png' %}" /></a>
                    {% endif %}
                    <a href="{% url 'search' user.id %}"><img src="{% static 'login/images/chat_icon.png' %}" /></a>
                </div>
                <div style="text-align: center">
                    <span>{{member.name}}(Age: {{member.age}})</span><br>
                    <span>{{member.zip_code}}</span>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- <div>
        <button class='d-inline'>skip all</button>
    </div> -->
   
{% endblock base_1_content %}