{% extends 'dating/base_1.html' %} 
 
{% block base_1_content %}
    {% load static %}
    <div class="row">
        {% for member in user_list %}
            <div style="margin-right: 5px; margin-bottom: 5px;">
                {% if member.pictures.all %}
                    {% for pic in member.pictures.all %}                                                   
                        {% if pic.is_profile_pic == 'TRUE' %}
                            {% for key, value in photo_url.items %}
                                {% if key == pic.id %}
                                <div class="image-container">
                                    <img class="member_photo" src="{% static value %}" alt="profile_pic">
                                </div>
                                {% endif %}
                            {% endfor %} 
                        {% endif %}
                    {% endfor %}
                {% else %}                    
                    <div class="image-container">              
                        <img class="member_photo" src="{% static 'login/images/default-male.gif' %}" alt=""/>
                    </div>  
                {% endif %}                              
                
                <div class="little_bar" style="text-align: center; width: 100%; padding-top: 10px;">                    
                    <a href="{% url 'block_person' member.id %}">
                        <i class="material-icons">visibility_off</i>
                    </a>
                    {% if member in liked_user_array %}
                        <i class="material-icons" style="color: red;">favorite</i>
                    {% else %}
                        <a href="{% url 'like_person' member.id %}">
                            <i class="material-icons">favorite_border</i>
                        </a>
                    {% endif %}
                    <a href="{% url 'search' member.id %}">
                        <i class="material-icons">chat</i>
                    </a>
                </div>
                <div style="text-align: center">
                    <span>{{member.name}}(Age: {{member.age}})</span><br>
                    <span>{{member.zip_code}}</span>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- <div>
        <button class='d-inline'>skip all</button>
    </div> -->
   
{% endblock base_1_content %}