{% extends 'dating/base_1.html' %}

{% load staticfiles%} 
{% block base_1_content %}
    <div class='row'>

        <div style="margin-right: 5px; margin-bottom: 5px;">
            <div >
                    {% if selected_user.pictures.all %}
                        {% for pic in selected_user.pictures.all %}                                                   
                            {% if pic.is_profile_pic == 'TRUE' %}
                                {% for key, value in photo_url.items %}
                                    {% if key == pic.id %}
                                        <img class="member_photo" src="{% static value %}" alt="profile_pic">
                                    {% endif %}
                                {% endfor %} 
                            {% endif %}
                        {% endfor %}
                    {% else %}                
                        <img class="member_photo" src="{% static 'login/images/default-male.gif' %}" alt=""/>
                    {% endif %}
            </div>        
                <div class="little_bar" style="text-align: center; width: 100%;">                    
                    <a href="{% url 'block_person' user.id %}"><img src="{% static 'login/images/cross_icon.png' %}" /></a>
                    {% if liked_user %}
                        <img src="{% static 'dating/images/liked_heart.png' %}" />
                    {% else %}
                        <a href="{% url 'like_person' user.id %}"><img src="{% static 'login/images/heart.png' %}" /></a>
                    {% endif %}
                </div>
        </div>
        <div class="col-md-9 mb-4">

            <div class='self_info col-sm-11 col-lg-8 d-inline-block'>
                <p class='title'>{{selected_user.name}}(Age: {{selected_user.age}})</p>
                <p>Location:{{selected_user.zip_code}}</p>
                <p>Looking for: {{selected_user.seeking_for}}</p>
                <p>Self Summery</p>
                <p class='content'>
                    <!-- Was there a girl who was always good at everything she did 
                    back at your highschool? Becasue that's me! I have a unique 
                    fun and outgoing personality. I am 5'8, have blue eyes and 
                    the physique of a cheerleader. I drive a porche. Only text me if
                    you have a better car. I am the CEO of a media company in LA.
                    I am either working or travelling the world. Recently visited 
                    Australia, France, Italy, Antartica and Mexico. Join me on my 
                    next trip to India. I am really nice I swear :)   -->
                    
                    {{selected_user.summary}}
                </p>
            </div>
        </div>
<!-- col-sm-12 mb-sm-2 d-inline-block -->
<div class='self_info col-md-12'>
    <div class=' col-sm-11 col-lg-6 d-inline-block' id="one">
        <p class='title'>About the member</p>
        <p class='content'>
            I wake up at 4:30am everyday to go for a run with my two dogs. 
            My favorite drink is tequila. Favorite type of movies is Horror. 
            I hope to own a private island soon just incase of a zombie apocalypse. 
            I am very beautiful. Another import thing is I am hetrosexual.
        </p>
    </div>

    <div class=' col-sm-11 col-lg-5 d-inline-block' id="one">
        <p class='title'>What the member looking for</p>
        <p class='content'>
            I'm looking for my future husband who is a gentleman. Must be atleast 
            6'0 and love to travel like me. Preferred occupation would be an 
            Entrepreneur.
        </p>
    </div>
</div>



<div class='col-sm-12 mb-sm-2 d-inline-block self_info'>
    <div class=' col-sm-11 col-lg-6 d-inline-block mb-sm-2'>
        <p class='title'>Pictures</p>

        
        <div style="margin-right: 5px; margin-bottom: 5px;">
            {% if selected_user.pictures.all %}
                {% for pic in selected_user.pictures.all %}                                                   
                        
                    {% for key, value in photo_url.items %}
                        {% if key == pic.id %}
                            <img class="member_photo" src="{% static value %}" alt="profile_pic">
                            <br><br>
                        {% endif %}
                    {% endfor %} 
                        
                {% endfor %}
            {% else %}                
                <p>No Picture</p>
            {% endif %}
        </div>
        
    </div>
    <div class='col-sm-11 col-lg-5 d-inline-block align-top'>
        <p class='title'>Write a message</p>        
        <form action="{% url 'push_message' selected_user.id %}" method="POST">
            {%csrf_token%}
            <div class="form-group"> 
                <label for=""> Title: </label>
                <input class='form-control' type="text" name='title'>
            </div>
            <div class="form-group">
                <textarea class='form-control' name="content" rows="3"></textarea>
            </div>
            <input class="btn btn-light" type="submit" value="Send">
        </form>
    </div>
</div>
{% endblock base_1_content %}